version: '2.2'
services:

  django:
    environment:
      - DEBUG=False
      - GEONODE_LB_HOST_IP={{ http_hostname }}
      - GEONODE_LB_PORT={{ public_port }}
      - GEONODE_LB_PROTOCOL={{ public_protocol }}
      - SITEURL={{ public_protocol }}://{{ http_hostname }}/
      - ALLOWED_HOSTS=['{{ http_hostname }}', ]
      - GEOSERVER_PUBLIC_LOCATION={{ public_protocol }}://{{ http_hostname }}/gs/
      - GEOSERVER_WEB_UI_LOCATION={{ public_protocol }}://{{ http_hostname }}/geoserver/

  celery:
    environment:
      - GEONODE_LB_HOST_IP={{ http_hostname }}
      - GEONODE_LB_PORT={{ public_port }}
      - GEONODE_LB_PROTOCOL={{ public_protocol }}
      - SITEURL={{ public_protocol }}://{{ http_hostname }}/
      - ALLOWED_HOSTS=['{{ http_hostname }}', ]
      - GEOSERVER_PUBLIC_LOCATION={{ public_protocol }}://{{ http_hostname }}/gs/
      - GEOSERVER_WEB_UI_LOCATION={{ public_protocol }}://{{ http_hostname }}/geoserver/

  geoserver:
    environment:
      - GEONODE_LB_HOST_IP={{ http_hostname }}
      - GEONODE_LB_PORT={{ public_port }}
      - GEONODE_LB_PROTOCOL={{ public_protocol }}
  #    - NGINX_BASE_URL=
