version: '2.2'
services:
  geonode:
    volumes:
      - statics:/mnt/volumes/statics
      - nginx-logs:/var/log/nginx

volumes:
  geoserver-data-dir:
    name: '{{ project_name }}-gsdata-dir'
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '{{ gsdata }}'
  dbdata:
    name: '{{ project_name }}-dbdata'
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '{{ postgres_data_directory }}'
  dbbackups:
    name: '{{ project_name }}-dbbackups'
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '{{ backup_dir }}'
  statics:
    name: '{{ project_name }}-statics'
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '{{ statics_dir }}'
  nginx-logs:
    name: '{{ project_name }}-nginx-logs'
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '{{ log_dir }}/nginx'
