{% extends "site_base.html" %} {% load i18n %} {% block title %} {% trans "Librarian Guide" %} - {{ block.super }} {% endblock %} {% block body_outer %}
<div class="page-header">
  <h2>{% trans "Librarian Guide" %}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    {% if user.is_superuser %}
<!--
      <p class="lead">How to keep CityData looking spiffy
      </p>
-->
      <p>An HTML version of this guide could go here. Step 1 would be to save the <a href="file://ad.unsw.edu.au/OneUNSW/FBE/FBERES/CFRC/All Projects/ARC LE160100174/Servers/Doco/CityData_Librarian_Guide.docx">Word source doc</a> as HTML, then grab the HTML code and stick it in <a href="file://INFPWFS1400.ad.unsw.edu.au/Staff109$/z8290362/GitHub/geonode/geonode/guide/templates/guide/lib_guide.html">here</a>.</p>
      <p>Failing that, <b><a href="/guide/pdf/Librarian" target="_blank">read the PDF</a></b>.</p>

<!--
      <h3><a name="foo">Make foo great again</a></h3>
      <p>May bar be embiggened also.</p>
-->
    {% else %}
      <p>Are you a librarian? Sign-in as admin to see more.</p>
    {% endif %}
  </div>
  <div class="col-md-4">
    {% if user.is_superuser %}
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="/guide/pdf/Librarian" target="_blank"><img src="{{ STATIC_URL }}/cityfutures/img/pdf_icon.png" width=24> View and print this guide as PDF</a>
        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <h5>{% trans "Sections" %}</h5></li>
<!--        <li class="list-group-item"><a href="#foo">All about foo</a></li>-->
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}