<header id="header" role="banner">
  <link href="https://www.asu.edu/asuthemes/4.6/css/asu_header.min.css?v0.3" rel="stylesheet">
  <div class="container">
    <div class="row">
      <div class="column col-md-12">
        <div class="region region-header">
          <div class="accessibility-hide"><a href="#main-wrapper" id="skip_to_content">Skip to Main Page Content</a></div>
          <div id="block-asu-brand-asu-brand-header" class="block block-asu-brand">


            <div class="content">
              <!-- START /asuthemes/4.6/headers/default.shtml -->
              <div id="main-search" class="main-search closed">
                <form id="google/appliance/block/form" method="post"><label for="asu_search_box">Search</label><input name="search_header" class="asu_search_box" id="asu_search_box" placeholder="Search" autocomplete="off" type="text"><input class="asu_search_button" type="submit" value="Search"></form>
              </div>
              <div id="asu-report-accessiblity" class="accessibility-hide"><a href="https://www.asu.edu/accessibility/" class="sr-only">Report an accessibility problem</a></div>
              <div id="asu_hdr" class="asu_hdr_white chrome">
                <div id="asu_mobile_hdr">
                  <div class="asu_mobile_hdr_wrapper">
                    <div id="asu_logo"><a href="//www.asu.edu/" target="_top"><img alt="A S U" src="//www.asu.edu/asuthemes/4.6/assets/full_logo.png"></a></div>
                    <div class="asuhide f-navicon" id="asu_mobile_button" onclick="javascript:ASUHeader.toggleASU();"><a href="javascript:ASUHeader.toggleASU();">Menu</a></div>
                    <div class="f-search" id="search_new" onclick="javascript:ASUHeader.toggleASU('main-search');" style="display: inherit !important;"></div>
                  </div>
                </div>
                <div class="closed" id="asu_mobile_menu">
                  <div class="asu_mobile_menu_wrapper">
                    <div id="asu_nav_wrapper">
                      <div id="asu_nav_menu" role="navigation" aria-label="ASU">
                        <h2 class="hidden">
                    Menu
                </h2>
                        <div id="asu_universal_nav_new">
                          <ul>
                            <li class="tlb site_title"><span>Knowledge Exchange for Resilience</span></li>
                            <li class="tlb">
                              <div class="text"><a href="https://weblogin.asu.edu/cgi-bin/login" onclick="this.href=ASUHeader.alterLoginHref(this.href);" onfocus="this.href=ASUHeader.alterLoginHref(this.href);" onmouseover="this.href=ASUHeader.alterLoginHref(this.href);"
                                  target="_top">Sign In</a></div>
                              <div id="f-user" class="icn f-user"></div>
                            </li>
                            <li class="tlb">
                              <div class="text"><a href="#" onclick="return false;">ASU Info</a></div>
                              <div class="icn f-sort-down"></div>
                            </li>
                            <li class="clb closed">
                              <ul>
                                <li class="cb"><a href="//www.asu.edu/" target="_top">ASU Home</a>
                                  <div class="icn2 f-sort-down"></div>
                                </li>
                                <li class="clb closed parent">
                                  <ul>
                                    <li class="ccb"><a class="first" href="//www.asu.edu/?feature=newsevents" target="_top" title="News and Events">News/Events</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/?feature=academics" target="_top" title="Academics">Academics</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/?feature=research" target="_top" title="Research">Research</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/?feature=athletics" target="_top" title="Athletics">Athletics</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/?feature=alumni" target="_top" title="Alumni">Alumni</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/?feature=giving" target="_top" title="Giving">Giving</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/?feature=president" target="_top" title="President">President</a></li>
                                    <li class="ccb"><a href="//www.asu.edu/about" target="_top" title="About ASU">About ASU</a></li>
                                  </ul>
                                </li>
                                <li class="cb"><a href="//my.asu.edu/" target="_top">My ASU</a></li>
                                <li class="cb"><a href="//www.asu.edu/colleges/" target="_top">Colleges and Schools</a>
                                  <div class="icn2 f-sort-down"></div>
                                </li>
                                <li class="clb closed parent">
                                  <ul>
                                    <li class="ccb"><a class="first" href="//artsandsciences.asu.edu/" target="_top" title="Arts and Sciences website">Arts and Sciences</a></li>
                                    <li class="ccb"><a href="//wpcarey.asu.edu/" target="_top" title="W. P. Carey School of Business Web and Morrison School of Agribusiness website">Business</a></li>
                                    <li class="ccb"><a href="//herbergerinstitute.asu.edu" target="_top" title="Herberger Institute for Design and the Arts website">Design and the Arts</a></li>
                                    <li class="ccb"><a href="//education.asu.edu/" target="_top" title="Mary Lou Fulton Teachers College website">Education</a></li>
                                    <li class="ccb"><a href="//engineering.asu.edu/" target="_top" title="Engineering website">Engineering</a></li>
                                    <li class="ccb"><a href="//sfis.asu.edu/" target="_top" title="Future of Innovation in Society website">Future of Innovation in Society</a></li>
                                    <li class="ccb"><a href="//graduate.asu.edu" target="_top" title="Graduate College website">Graduate</a></li>
                                    <li class="ccb"><a href="//chs.asu.edu/" target="_top" title="Health Solutions website">Health Solutions</a></li>
                                    <li class="ccb"><a href="//honors.asu.edu/" target="_top" title="Barrett, The Honors College website">Honors</a></li>
                                    <li class="ccb"><a href="//cronkite.asu.edu" target="_top" title="Walter Cronkite School of Journalism and Mass Communication website">Journalism</a></li>
                                    <li class="ccb"><a href="//www.law.asu.edu/" target="_top" title="Sandra Day O' Connor College of Law website">Law</a></li>
                                    <li class="ccb"><a href="//nursingandhealth.asu.edu/" target="_top" title="College of Nursing and Health Innovation website">Nursing and Health Innovation</a></li>
                                    <li class="ccb"><a href="//copp.asu.edu" target="_top" title="College of Public Programs website">Public Service and Community Solutions</a></li>
                                    <li class="ccb"><a href="//schoolofsustainability.asu.edu" target="_top" title="School of Sustainability website">Sustainability</a></li>
                                    <li class="ccb"><a href="//uc.asu.edu/" target="_top" title="University College website">University College</a></li>
                                    <li class="ccb"><a target="_top" href="http://www.thunderbird.edu/" title="Thunderbird School of Global Management website">Thunderbird School of Global Management</a></li>
                                  </ul>
                                </li>
                                <li class="cb"><a href="//www.asu.edu/map/" target="_top">Map and Locations</a>
                                  <div class="icn2 f-sort-down"></div>
                                </li>
                                <li class="clb closed parent">
                                  <ul>
                                    <li class="ccb"><a class="border first" href="//www.asu.edu/map/" target="_top">Map</a></li>
                                    <li class="ccb"><a href="//campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a></li>
                                    <li class="ccb"><a href="//campus.asu.edu/west/" target="_top" title="West campus">West</a></li>
                                    <li class="ccb"><a href="//campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a></li>
                                    <li class="ccb"><a href="//campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown Phoenix</a></li>
                                    <li class="ccb"><a href="//asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and Extended</a></li>
                                    <li class="ccb"><a class="border" href="//havasu.asu.edu/" target="_top">Lake Havasu</a></li>
                                    <li class="ccb"><a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and Strategic Partnerships</a></li>
                                    <li class="ccb"><a href="//asuresearchpark.com/" target="_top">Research Park</a></li>
                                    <li class="ccb"><a href="//washingtoncenter.asu.edu/" target="_top">Washington D.C.</a></li>
                                    <li class="ccb"><a href="//wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a></li>
                                  </ul>
                                </li>
                                <li class="cb"><a href="//isearch.asu.edu/" target="_top" title="Directory, Index and other info">Directory</a></li>
                              </ul>
                            </li>
                            <li class="tlb">
                              <div class="text"><a href="https://resilience.asu.edu/">Home</a></div>
                              <div class="icn f-share-square-o"></div>
                            </li>
                            <li class="tlb">
                              <div class="text"><a href="https://resilience.asu.edu/concept">Concept</a></div>
                              <div class="icn f-share-square-o"></div>
                            </li>
                            <li class="tlb">
                              <div class="text"><a href="https://resilience.asu.edu/knowledge-exchange">Knowledge Exchange</a></div>
                              <div class="icn f-share-square-o"></div>
                            </li>
                            <li class="tlb">
                              <div class="text"><a href="https://resilience.asu.edu/about-us">About</a></div>
                              <div class="icn f-share-square-o"></div>
                            </li>
                            <li class="tlb">
                              <div class="text"><a href="https://resilience.asu.edu/contact-us">Contact</a></div>
                              <div class="icn f-share-square-o"></div>
                            </li>
                          </ul>
                        </div>
                        <div id="asu_universal_nav">
                          <ul>
                            <li class="parent"><a href="//www.asu.edu/" target="_top">ASU Home</a>
                              <ul>
                                <li><a class="first" href="//www.asu.edu/?feature=newsevents" target="_top" title="News and Events">News/Events</a></li>
                                <li><a href="//www.asu.edu/?feature=academics" target="_top" title="Academics">Academics</a></li>
                                <li><a href="//www.asu.edu/?feature=research" target="_top" title="Research">Research</a></li>
                                <li><a href="//www.asu.edu/?feature=athletics" target="_top" title="Athletics">Athletics</a></li>
                                <li><a href="//www.asu.edu/?feature=alumni" target="_top" title="Alumni">Alumni</a></li>
                                <li><a href="//www.asu.edu/?feature=giving" target="_top" title="Giving">Giving</a></li>
                                <li><a href="//www.asu.edu/?feature=president" target="_top" title="President">President</a></li>
                                <li><a href="//www.asu.edu/about" target="_top" title="About ASU">About ASU</a></li>
                              </ul>
                            </li>
                            <li><a href="//my.asu.edu/" target="_top">My ASU</a></li>
                            <li class="parent"><a href="//www.asu.edu/colleges/" target="_top">Colleges and Schools</a>
                              <ul>
                                <li><a class="first" href="//artsandsciences.asu.edu/" target="_top" title="Arts and Sciences website">Arts and Sciences</a></li>
                                <li><a href="//wpcarey.asu.edu/" target="_top" title="W. P. Carey School of Business Web and Morrison School of Agribusiness website">Business</a></li>
                                <li><a href="//herbergerinstitute.asu.edu" target="_top" title="Herberger Institute for Design and the Arts website">Design and the Arts</a></li>
                                <li><a href="//education.asu.edu/" target="_top" title="Mary Lou Fulton Teachers College website">Education</a></li>
                                <li><a href="//engineering.asu.edu/" target="_top" title="Engineering website">Engineering</a></li>
                                <li><a href="//sfis.asu.edu/" target="_top" title="Future of Innovation in Society website">Future of Innovation in Society</a></li>
                                <li><a href="//graduate.asu.edu" target="_top" title="Graduate College website">Graduate</a></li>
                                <li><a href="//chs.asu.edu/" target="_top" title="Health Solutions website">Health Solutions</a></li>
                                <li><a href="//honors.asu.edu/" target="_top" title="Barrett, The Honors College website">Honors</a></li>
                                <li><a href="//cronkite.asu.edu" target="_top" title="Walter Cronkite School of Journalism and Mass Communication website">Journalism</a></li>
                                <li><a href="//www.law.asu.edu/" target="_top" title="Sandra Day O' Connor College of Law website">Law</a></li>
                                <li><a href="//nursingandhealth.asu.edu/" target="_top" title="College of Nursing and Health Innovation website">Nursing and Health Innovation</a></li>
                                <li><a href="//copp.asu.edu" target="_top" title="College of Public Programs website">Public Service and Community Solutions</a></li>
                                <li><a href="//schoolofsustainability.asu.edu" target="_top" title="School of Sustainability website">Sustainability</a></li>
                                <li><a href="//uc.asu.edu/" target="_top" title="University College website">University College</a></li>
                                <li><a target="_top" href="http://www.thunderbird.edu/" title="Thunderbird School of Global Management website">Thunderbird School of Global Management</a></li>
                              </ul>
                            </li>
                            <li class="parent"><a href="//www.asu.edu/map/" target="_top">Map and Locations</a>
                              <ul>
                                <li><a class="border first" href="//www.asu.edu/map/" target="_top">Map</a></li>
                                <li><a href="//campus.asu.edu/tempe/" target="_top" title="Tempe campus">Tempe</a></li>
                                <li><a href="//campus.asu.edu/west/" target="_top" title="West campus">West</a></li>
                                <li><a href="//campus.asu.edu/polytechnic/" target="_top" title="Polytechnic campus">Polytechnic</a></li>
                                <li><a href="//campus.asu.edu/downtown/" target="_top" title="Downtown Phoenix campus">Downtown Phoenix</a></li>
                                <li><a href="//asuonline.asu.edu/" target="_top" title="Online and Extended campus">Online and Extended</a></li>
                                <li><a class="border" href="//havasu.asu.edu/" target="_top">Lake Havasu</a></li>
                                <li><a href="https://corporate.asu.edu/" target="_top">Corporate Engagement and Strategic Partnerships</a></li>
                                <li><a href="//asuresearchpark.com/" target="_top">Research Park</a></li>
                                <li><a href="//washingtoncenter.asu.edu/" target="_top">Washington D.C.</a></li>
                                <li><a href="//wpcarey.asu.edu/mba/china-program/english/" target="_top">China</a></li>
                              </ul>
                            </li>
                            <li><a href="//isearch.asu.edu/" target="_top" title="Directory, Index and other info">Directory</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header__sitename" id="asu_hdr_title_gen">
                <div><a title="Home" rel="home" href="https://resilience.asu.edu/" id="asu_hdr_title"><span class="asu-site-title">Knowledge Exchange for Resilience</span></a></div>
              </div>
              <div style="clear:both;"></div>
              <!-- END /asuthemes/4.6/headers/default.shtml -->
            </div>
          </div>
        </div>
        <div class="header__sitename element-invisible"><span>Knowledge Exchange for Resilience</span>
        </div>
      </div>
    </div>
  </div>
</header>
