{% load static from staticfiles %}
<link rel="shortcut icon" href="https://resilience.asu.edu/misc/favicon.ico" type="image/vnd.microsoft.icon" />
<link href="{% static "css/site_base.css" %}" rel="stylesheet"/>
<link href="//resilience.asu.edu/sites/all/themes/innovationcustom/css/main.css?pjsm1k" rel="stylesheet"/>
<link href="//www.asu.edu/asuthemes/4.6/css/asu_header_media.min.css?v0.3" rel="stylesheet"/>
<link href="//www.asu.edu/asuthemes/4.6/css/asu_header.min.css?v0.3" rel="stylesheet"/>
<!-- <style type="text/css" media="all">
    @import url("https://resilience.asu.edu/profiles/openasu/themes/innovation/css/innovation-main.css?pjsm1k");
</style> -->
